// variables
$primary: rgb(7, 231, 7);
$logofont: 'Gloria Hallelujah', cursive;

// mixins

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
