// variables
$primary: rgb(27, 90, 27);
$logofont: 'Dancing Script', cursive;

// mixins

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
