nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

nav a {
  text-decoration: none;
}

nav .logo {
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #1b5a1b;
}

nav .logo .logo-icon {
  font-size: 30px;
  margin-right: 5px;
}

nav .logo h3 {
  font-family: "Dancing Script", cursive;
  letter-spacing: 0.1rem;
  font-size: 2.2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10%;
  color: #1b5a1b;
  list-style: none;
  letter-spacing: 0.1rem;
}

nav ul li {
  padding: 5px;
  font-weight: 700;
}

nav ul .register {
  margin-left: 15px;
  background: #1b5a1b;
  color: white;
}

nav ul a {
  text-decoration: none;
  color: green;
}

.error {
  color: red;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
  text-align: center;
}

.right-nav {
  margin-right: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 300px;
}

.right-nav img {
  max-height: 50px;
  margin-right: 1%;
}

.right-nav h3 {
  margin: 0px 10px;
}

.right-nav button {
  margin-left: 1%;
  margin-left: 15px;
  background: red;
  color: white;
  padding: 5px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.1rem;
  cursor: pointer;
  border: 1px solid red;
}

.right-nav button:hover {
  background-color: white;
  color: red;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid red;
}

.header-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #1b5a1b, black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper .header-content {
  position: relative;
  width: 100%;
  color: #1b5a1b;
}

.header-wrapper .header-content:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: black;
  -webkit-clip-path: polygon(100% 0%, 0 100%, 100% 100%);
          clip-path: polygon(100% 0%, 0 100%, 100% 100%);
}

.header-wrapper .header-text {
  position: relative;
  top: 25%;
  background: white;
  color: black;
  width: 450px;
  height: 40%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 15px 15px black;
          box-shadow: 15px 15px black;
  border-radius: 5px;
  color: #1b5a1b;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slide;
          animation-name: slide;
}

@-webkit-keyframes slide {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 40%;
  }
}

@keyframes slide {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 40%;
  }
}

.header-wrapper .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-wrapper .header-icon {
  color: green;
  font-size: 50px;
  margin-right: 10px;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header-wrapper h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3.8rem;
  letter-spacing: 0.1rem;
}

.header-wrapper h3 {
  font-style: italic;
  margin-bottom: 30px;
}

.header-wrapper p {
  width: 90%;
  line-height: 1.4;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}

.header-wrapper button {
  background-color: #1b5a1b;
  color: white;
  border: 1px solid #1b5a1b;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.header-wrapper button > a {
  text-decoration: none;
  color: white;
}

.header-wrapper button > a:hover {
  color: white;
}

.header-wrapper button:hover {
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-wrapper {
  background: linear-gradient(45deg, #1b5a1b, white);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.login-wrapper .secondary-wrapper {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login-wrapper .secondary-wrapper .login-left-wrapper {
  width: 50%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login-wrapper .secondary-wrapper .login-left-wrapper .login-form {
  padding: 20px;
}

.login-wrapper .secondary-wrapper .login-left-wrapper .login-form h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.login-wrapper .secondary-wrapper .login-left-wrapper .login-form .noaccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-wrapper .secondary-wrapper .login-left-wrapper .login-form .noaccount p {
  margin-right: 5px;
}

.login-wrapper .secondary-wrapper .login-left-wrapper .login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-wrapper .secondary-wrapper .login-left-wrapper .login-form form label {
  font-size: 1.7rem;
  margin-top: 15px;
}

.login-wrapper .secondary-wrapper .login-left-wrapper .login-form form input {
  margin-top: 15px;
  font-size: 1.7rem;
  padding: 5px;
}

.login-wrapper .secondary-wrapper .login-left-wrapper .login-form form button {
  margin-top: 15px;
  font-size: 1.7rem;
  padding: 5px;
  cursor: pointer;
  background-color: #1b5a1b;
  color: white;
}

.login-wrapper .secondary-wrapper .login-left-wrapper .login-form form button:hover {
  background-color: blue;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login-wrapper .secondary-wrapper .login-left-wrapper .login-form {
  border: 1px solid grey;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 90%;
  width: 90%;
}

.login-wrapper .secondary-wrapper .login-right-wrapper {
  background-color: white;
  height: 100%;
  width: 50%;
}

.login-wrapper .secondary-wrapper .login-right-wrapper img {
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=style.css.map */